:root {
  --font-family: 'Cairo', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --third-family: 'Inter', sans-serif;

  --clr-white: #ffffff; // Чистый белый (фон, текст кнопок)
  --clr-gray-100: #f6f6f6; // Акцент в состоянии disabled
  --clr-gray-200: #ebebeb; // Бордеры инпутов, чекбоксов и подложка "или"
  --clr-gray-300: #e2e2e2; // Общие границы (border) в админке
  --clr-gray-400: #e0e0e0; // Подзаголовки на логине
  --clr-gray-500: #b2b3b9; // Заголовки колонок, тип товара
  --clr-gray-600: #9c9c9c; // Лейблы чекбоксов, иконки (глаз, крестик)
  --clr-gray-700: #969b9f; // Текст "показано из"
  --clr-gray-800: #999999; // Копейки в цене
  --clr-gray-900: #6c6c6c; // Серый текст рядом с акцентными ссылками

  // Цвета — Темные оттенки (Текст и заголовки)
  --clr-dark-100: #333333; // Цифры в пагинации
  --clr-dark-200: #232323; // Заголовок логина и основные лейблы
  --clr-dark-300: #222222; // Название товара и целое число цены
  --clr-dark-400: #202020; // Заголовок страницы товаров

  // Цвета — Состояния и специфичные акценты
  --clr-red-500: #f11010; // Ошибка / Низкая оценка
  --clr-black: #000000; // Продавец, артикул, оценка
  --clr-btn-text: #ebf3ea;
}
