$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

$headerHeight: 105px;

$bg-layout: var(--clr-white);
$bg-disabled: var(--clr-gray-100);

$typo-title-main: var(--clr-dark-400);
$typo-title-auth: var(--clr-dark-200);
$typo-subtitle: var(--clr-gray-400);

$typo-label: var(--clr-dark-200);
$typo-label-secondary: var(--clr-gray-600);
$typo-text-secondary: var(--clr-gray-900);
$typo-placeholder: var(--clr-gray-600);
$typo-or: var(--clr-gray-200);

$typo-table-head: var(--clr-gray-500);
$typo-product-name: var(--clr-dark-300);
$typo-product-type: var(--clr-gray-500);
$typo-price-main: var(--clr-dark-300);
$typo-price-cents: var(--clr-gray-800);
$typo-vendor: var(--clr-black);

$typo-pagination-text: var(--clr-gray-700);
$typo-pagination-num: var(--clr-dark-100);

$color-error: var(--clr-red-500);
$color-btn: var(--clr-white);
$color-btn-alt: var(--clr-btn-text);

$border-main: var(--clr-gray-300);
$border-input: var(--clr-gray-200);
$separator-line: var(--clr-gray-200);

$accent-color: var(--clr-blue);
