:root {
  --font-family: 'Cairo', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --third-family: 'Inter Web', sans-serif;

  --clr-white: #ffffff;
  --clr-gray-100: #f6f6f6;
  --clr-gray-200: #ebebeb;
  --clr-gray-300: #e2e2e2;
  --clr-gray-400: #e0e0e0;
  --clr-gray-500: #b2b3b9;
  --clr-gray-600: #9c9c9c;
  --clr-gray-700: #969b9f;
  --clr-gray-800: #999999;
  --clr-gray-900: #6c6c6c;

  --clr-dark-100: #333333;
  --clr-dark-200: #232323;
  --clr-dark-300: #222222;
  --clr-dark-400: #202020;

  --clr-red-500: #f11010;
  --clr-black: #000000;
  --clr-btn-text: #ebf3ea;

  --clr-blue: #242edb;
}
