.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: var(--clr-white);
  padding: 30px;
  width: 100%;
  max-width: 450px;
  border-radius: 8px;
  border: 1px solid $border-main;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 30px;
}

.title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #222;
  margin-bottom: 20px;
}
